# Ignore large vendor libraries and binaries
assets/js/bootstrap.js
assets/css/bootstrap.css
template/assets/js/vendor/
template/assets/css/vendor/
template/assets/fonts/
template/assets/images/
template/assets/js/main.js
.vscode/
