* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

body {
    background: #fff !important;
    direction: rtl;
    overflow-x: hidden;
    font-family: IRANSans;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Blackd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Black.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Boldd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Mediumd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Lightd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLightd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWebd41d.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}


/*Start CSS Demo-------------------------*/
.intro{
    width: 100%;
    padding-top: 5rem;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    padding-bottom: 10px;
    overflow: hidden;
}

.store-template-header{
    margin: auto;
    text-align: right;
}

.intro .store-template-header .store-template-title{
    margin-top: 20px;
    font-weight: bold;
    color: #6b6b6b;
    padding: 0 15px;
}

.intro .store-template-header span{
    display: block;
    color: #696969;
    font-size: 18px;
    line-height: 1.65;
    margin-right: 2px;
    margin-top: 45px;
}

.mockups-home{
    text-align: center;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    transform: rotate(-10deg);
}

.mockups-home img{
    max-width: 100%;
}

.page{
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-top: 30px;
    text-align: center;
    padding: 0 5px 20px;
}

.page .card{
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
    transition: .2s;
}

.page:hover .card{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: .2s;
}

.page .card .box-shadow{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.page .card img{
    max-width: 100%;
}

.page .view-more-pages{
    padding: 15px 55px;
    height: auto;
    text-align: center;
    font: 14px IRANSans;
    color: #666666;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
}

.page p{
    font: 16px IRANSans;
    color: #6a6a6a;
}

.Property-main{
    width: 100%;
    text-align: center;
}

.Property-main h4{
    color: #666666;
    font-size: 25px;
}

.Property-main .Property-item{
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 30px 0 40px 0;
    margin-bottom: 30px;
    margin-top: 55px;
}

.Property-main .Property-item .item-icon{
    display: block;
    margin-bottom: 36px;
    position: relative;
    text-align: center;
}

.copy-right{
    width: 100%;
    font: 14px IRANSans;
    color: #212121;
    text-align: center;
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 20px;
}

.copy-right:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #E7EBF6;
    background: linear-gradient(to right, rgba(231,235,246,0.1) 0, #e7ebf6 50%, rgba(231,235,246,0.1) 100%);
}


@media (max-width: 768px){
    .mockups-home{
        margin: 70px 0;
    }
}